.containerTwo {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-radius: 15px;
    margin-right: 1000px;
    margin-bottom: 10px;
    justify-content: center;
}
.buttonTwo {
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    height: 10px;
    width: 50px;
    padding: 15px;
    margin: 15px;
}